*{
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius:15px ;
    box-shadow: 0 2px 6px rgb(1,2,1);
}
.input-section{
    display: flex;
    gap:15px;
    margin-bottom: 15px;
}
#taskInput{
    flex: 3;
    padding: 13px;
}

#addButton{
    padding: 10px 15px;
    background-color:#4070f4;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
#addButton:hover{
    background-color: black;
}
#taskList div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}